# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env

# Logs
*.log

# Databases
*.db

# Node
frontend/node_modules/
frontend/dist/

# Python/Node caches
.pytest_cache/
.vite/

# Chroma generated database
**/chroma_db/

# OS
.DS_Store
Thumbs.db